<div class="row">
  <div class="col-md-5">
    <p> <img src="C:\sitio\Bootstrap\imagenes/10.jpg"><br></p>
    <p> <img src="C:\sitio\Bootstrap\imagenes/11.png"><br></p>
    <p><img src="C:\sitio\Bootstrap\imagenes/12.jpg"></p>
  </div>
  <div class="col-7">
    <div class="row">
      <p>
        Tienda de ropa para dama, caballero, niños y niñas, zapatos y accesorios, con el ánimo de satisfacer las necesidades basicas de las personas 
        de vestirse, verse y sentirse bien. Estar en la vanguardía de la moda actual con el fin de ofrecerle
        a los clientes, moda, calidad y exclisividad.
        Nuestros clientes tendran la facilidad de encontar marcas reconocidas en ropa casual, zapatos y accesorios; todo esto 
        en un sololugar, inovaciones y precios asequibles, donde la atencion juega un papel muy importante, la comodidad de nuestra 
        página lo harán pasar un momento muy agradable, sera la mejor manera para hacer sus compras.
      </p>
     <div class="col-6">
       <p></p>
       <img src="C:\sitio\Bootstrap\imagenes/13.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">TENDENCIAS</h5>
            <p class="card-text">Te mostramos las tendencias de temporada para que puedas estar a la moda todos los dias</p>
            <a href="#"routerLink="/tendencias" class="btn btn-success">Ir a tendencias</a>
          </div>
     </div>
     <div class="col-6">
       <p></p>
       <img src="C:\sitio\Bootstrap\imagenes/9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">OFERTAS</h5>
            <p class="card-text">visita nuestra pagina de pfertas donde podras encontrar gran variedad de ropa con descuentos</p>
            <a href="#" class="btn btn-warning">Ir a ofertas</a>
          </div>
     </div>
     <div class="row">
      <div class="col-12">
        <p></p>
        <div class="card w-75">
          <div class="card-body">
          <h1 class="card-title">!!REGISTRATE</h1>
          <p class="card-text">Da clic en el boton registrar y podrás realizar tus compras en linea con comodidad, te atendemos con toda disponiblidad</p>
          <a href="#"routerLink="/registrarse" class="btn btn-danger">Registrar</a>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>



