
<div class="container">
  <br>
  <div class="row blog">
      <div class="col-md-12">
          <div id="blogCarousel" class="carousel slide" data-ride="carousel">

              
              <hr class="featurette-divider">
              <!-- Carousel items -->
              <br>
              <br>
              <ul class="list-unstyled">
                <li class="media">
                  <img src="C:\Index\Bootstrap\img/images.png" class="mr-3" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Profesor Sergio</h5>
                    Gracias por su colaboracion para la realizacion de este sitio web tan exitoso reconocido mundialmente como "La Red Social" gracias :)
                  </div>
                </li>
                <li class="media my-4">
                  <img src="C:\Index\Bootstrap\img/images.png" class="mr-3" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Alumno: Erik Martinez Rivas</h5>
                    Gracias por su colaboracion para la realizacion de este sitio web tan exitoso reconocido mundialmente como "La Red Social" gracias :)
                  </div>
                </li>
                <li class="media">
                  <img src="C:\Index\Bootstrap\img/images.png" class="mr-3" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">ISTRLL</h5>
                    Gracias por su colaboracion para la realizacion de este sitio web tan exitoso reconocido mundialmente como "La Red Social" gracias :)
                  </div>
                </li>
              </ul>             
              <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Descargar la APP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title">APP</h5>
                  <p class="card-text">Descargar la aplicacion para dispostivos movlies </p>
                  <a href="#" class="btn btn-primary">DESCARGAR</a>
                </div>
              </div>
              <section id="footer">
                  <nav class="navbar navbar-expand-lg navbar-light bg-info">
                      <a class="navbar-brand" href="#">La Red Social </a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                           
                           
                          
                        </ul>
                       
                     
                      </div>