<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <img src="C:\sitio\Bootstrap\imagenes/4.png">
        <li class="nav-item active">
          <div class="color"><a href="#" routerLink="/"> <button type="button" class="btn btn-primary">Inicio</button> <span class="sr-only">(current)</span></a></div>
        </li>
        <li class="nav-item active">
          <div class="color"><a href="#"routerLink="/mujeres"> <button type="button" class="btn btn-danger">Mujeres</button> <span class="sr-only">(current)</span></a></div>
        <li>
        <li class="nav-item active">
          <div class="color"><a href="#"> <button type="button" class="btn btn-success">Hombres</button> <span class="sr-only">(current)</span></a></div>
        </li>
        <li class="nav-item active">
          <div class="color"><a href="#"> <button type="button" class="btn btn-warning">Niños</button> <span class="sr-only">(current)</span></a></div>
        </li>
        <li class="nav-item active">
          <div class="color"><a href="#"> <button type="button" class="btn btn-info">Niñas</button> <span class="sr-only">(current)</span></a></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Ayuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contactos</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<router-outlet></router-outlet>
<section id="footer">
  <div class="container">
    <br>
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Servicios</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Ventas</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Ofertas</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Tendencias</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Sorteos</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Recomendaciones</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Contactos</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Telefono</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Instagram</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Correo</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Twirer</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Lugares</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Durango</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Gpe. Victoria</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Monterrey</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Gomez Palacio</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Torreon</a></li>
            </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
      </div>
    </div>
</section>